[submodule "CTScanProject"]
	path = CTScanProject
	url = git@github.com:AltPact/CTScanProject.git
[submodule "WebsitePlanning"]
	path = WebsitePlanning
	url = git@github.com:AltPact/WebsitePlanning.git
[submodule "RustPractice"]
	path = RustPractice
	url = git@github.com:AltPact/RustPractice.git
[submodule "OptimisationProject"]
	path = OptimisationProject
	url = git@github.com:AltPact/OptimisationProject.git
