[submodule "CTScanProject"]
	path = CTScanProject
	url = git@github.com:AltPact/CTScanProject.git
[submodule "WebsitePlanning"]
	path = WebsitePlanning
	url = git@github.com:AltPact/WebsitePlanning.git
[submodule "RustPractice"]
	path = RustPractice
	url = git@github.com:AltPact/RustPractice.git
[submodule "OptimisationProject"]
	path = OptimisationProject
	url = git@github.com:AltPact/OptimisationProject.git
[submodule "GameMaking"]
	path = GameMaking
	url = git@github.com:AltPact/GameMaking.git
[submodule "FaceDetectionSoftware"]
	path = FaceDetectionSoftware
	url = git@github.com:AltPact/FaceDectionSoftware.git
